<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{include/fragments/link :: links}">
    <title>로그인</title>
</head>
<style>
    body,html{
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<body>
    <div th:insert="~{include/fragments/sidebar :: sidebar}"></div>
    <div class="container" style="width: 30%;">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                <h2>로그인</h2>
                <form>
                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="email" id="loginName" class="form-control" />
                        <label class="form-label" for="loginName">이메일</label>
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="password" id="loginPassword" class="form-control" />
                        <label class="form-label" for="loginPassword">비밀번호</label>
                    </div>

                    <div style="display: flex; justify-content: space-between; width: 100%;">
                        <a href="#!">아이디/비밀번호 찾기</a>
                        <a href="#!">회원가입</a>
                    </div>
                    <!-- Submit button -->
                    <button type="submit" style="width: 100%;" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">로그인</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Pills content -->
</body>
</html>