<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.todoList.boardsMapper">
    <select id="boardsList" resultType="BoardsDTO">
        select board.id as boardId,content,users_id as userId,board.sucess,board.delete from board
        join users on users.id = board.users_id
        where users_id = #{userId} and sucess is null and `delete` is null
    </select>
    <select id="detailBoards" resultType="BoardsDTO">
        select board.id as boardId,content,addExp,deadline,createDate,users.name from board
        join users on users.id = board.users_id
        where board.id = #{boardId}
    </select>
    <update id="updateBoards" parameterType="java.util.Map">
        update board
        <set>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="addExp != null">
                addExp = #{addExp},
            </if>
            <if test="deadline != null">
                deadline = #{deadline},
            </if>
        </set>
        where board.id = #{boardId}
    </update>
    <insert id="insertBoards" parameterType="BoardsDTO">
        insert into board (content,addExp, deadline, createDate,users_id)
        values (#{content},#{addExp},#{deadline},now(),#{userId});
    </insert>
    <update id="updateUserId" parameterType="BoardsDTO">
        update board set users_id = #{userId}
        where users_id = 0
    </update>
    <delete id="deleteBoard" parameterType="BoardsDTO">
        delete from board where board.id = #{boardId}
    </delete>
    <update id="sucessBoard" parameterType="BoardsDTO">
        update board set sucess = #{sucess}
        where board.id = #{boardId}
    </update>
</mapper>